/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}


h2, h4, h3, h5, li, h6{
  font-family: 'Outfit', sans-serif;
}


p, a {
  font-family: 'Outfit', sans-serif;
  font-size: 17.5px;
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {

  margin: 0;
}

.container-3 {
  background-image: url("background1.jpg");
}

/* Testimonial */
#testimonial {
 padding: 100px 0 100px 0;
}
.quoteLoop {
 height: auto;
 width: 100%;
 margin: 0 auto;
 position: relative;
}
.quote {
 margin: 0px 0px;
 height: inherit;
 top: 0px;
 display: none;
 text-align: center;
}


/*gallery*/
/* Code By Webdevtrick ( https://webdevtrick.com ) */
:root {
  --fade-time: 0.5s;
}


.container-1 {
  max-width: 760px;
  margin: auto;
  border: #fff solid 3px;
  background: #fff;
}

.main-img img,
.imgs img {
  border: #fff solid 3px;
  width: 100%;
}

.imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.imgs img {
  cursor: pointer;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn var(--fade-time) ease-in 1 forwards;
}

@media(max-width: 600px) {
  .imgs {
    grid-template-columns: repeat(2, 1fr);
  }
}
